### Python Function

In [1]:
#practice 1
def printme(str):
    #this is a print function
    print(str);
    return;
printme("I'm first call to user defined function")
printme("I'm second call to the same function")

I'm first call to user defined function
I'm second call to the same function

In [2]:
#practice 2
def changeme( mylist ):
    mylist.append([1,2,3,4])
    print("Values inside the function: ", mylist)
    return
mylist = [10,20,30]
changeme( mylist )
print("Values outside the function: ", mylist)

Values inside the function:  [10, 20, 30, [1, 2, 3, 4]]
Values outside the function:  [10, 20, 30, [1, 2, 3, 4]]

In [3]:
#practice 3
def changeme( mylist ):
    mylist = [1,2,3,4]
    print("Values inside the function: ", mylist)
    return
mylist = [10,20,30]
changeme( mylist )
print("Values outside the function: ", mylist)

Values inside the function:  [1, 2, 3, 4]
Values outside the function:  [10, 20, 30]

In [4]:
#practice 4
def printme( str ):
    print(str)
    return
printme( )

TypeError: printme() missing 1 required positional argument: 'str'

In [5]:
#practice 5
def printme( str ):
    print(str)
    return
printme( str = "My string reggie")

My string reggie

In [6]:
#practice 6
def printinfo( name, age ):
    print("Name: ", name)
    print("Age: ", age)
    return
printinfo( age=60, name="reggie")

Name:  reggie
Age:  60

In [7]:
#practice 7
def printinfo( name, age=35 ):
    print("Name: ", name)
    print("Age: ", age)
    return
printinfo( age=60, name="reggie")
printinfo( name="amanda")

Name:  reggie
Age:  60
Name:  amanda
Age:  35

In [11]:
#practice 8
def printinfo(arg1, *vartuple):
    print("Output is:")
    print(arg1)
    for var in vartuple:
        print(var)
    return;
printinfo(10)
printinfo(70,100,50,80)

Output is:
10
Output is:
70
100
50
80

In [12]:
#practice 9
total = 50
def sum( arg1, arg2):
    total = arg1 + arg2
    print("Inside the function local total : ", total)
    return total;
sum(10,20)
print("Outside the function global total : ", total)

Inside the function local total :  30
Outside the function global total :  50

In [13]:
#practice 10
def swap(x, y):
    global a
    a = "Lawal"
    x,y = y,x
    b="Chris"
    b="Edward"
    c="Lola"
    print(a,b,x,y)
    a="Mary"
swap("Tina", "Tolu")
print(a)

Lawal Edward Tolu Tina
Mary