### WEEK 4

### Exercise I - Sequence

In [1]:
# python progrma to swap two cities

# to take inputs from the user
city_1 = input("Enter name of City 1: ")
city_2 = input("Enter name of City 2: ")

temp = city_1
city_1 = city_2
city_2 = temp

print(f"The name of City 1 after swapping is {city_1}")
print(f"The name of City 2 after swapping is {city_2}")

Enter name of City 1:  Lagos
Enter name of City 2:  Abuja

The name of City 1 after swapping is Abuja
The name of City 2 after swapping is Lagos

### Exercise II - Selection

In [2]:
num = float(input("Enter a number: "))
if num > 0:
    print("Positive number")
elif num == 0:
    print("zero")
else:
    print("Negative number")

Enter a number:  8

Positive number

### Exercise iii - Repetition

In [6]:
# COUPE DE ESCRIVA 
print("welcome to coupe the escrive 2023 football picks")

captain = {'Madiba' :'Chubby Obiora-Okafo','Blue Jays' :'Christopher Uweh',
          'Cirok' :'Alexander','TSG Walkers' :'Ikechukwu'}

goalkeepers = {'Madiba' :'Chubby Obiora-Okafo','Blue Jays' :'Oladimeji Abaniwonda/Jeff Awagu',
          'Cirok' :'Timilehin Pearse','TSG Walkers' :'Ayomide Ojikutu'}
for i in goalkeepers:
    print(i, goalkeepers[i])
for i in captain:
    print(i, captain[i])

welcome to coupe the escrive 2023 football picks
Madiba Chubby Obiora-Okafo
Blue Jays Oladimeji Abaniwonda/Jeff Awagu
Cirok Timilehin Pearse
TSG Walkers Ayomide Ojikutu
Madiba Chubby Obiora-Okafo
Blue Jays Christopher Uweh
Cirok Alexander
TSG Walkers Ikechukwu

### Project 1

In [17]:
import pandas as pd
student = {'Names':['Evelyn', 'Jessica','Somto', 'Edith','Liza','Madonna','Waje','Tola','Aisha','Latifa',
                   'Chinedu', 'Liam','Wale','Gbenga','Abiola','Kola','Kunle','George','Thomas','Wesley'],
           'Age': [17,16,17,18,16,18,17,20,19,17,19,16,18,17,20,19,16,18,17,19],
           'Height':[5.5,6.0,5.4,5.9,5.6,5.5,6.1,6.0,5.7,5.5,5.7,5.9,5.8,6.1,5.9,5.5,6.4,5.4,5.8,5.7],
           'Scores':[80,85,70,60,66,76,87,95,50,49,74,87,75,68,66,78,87,98,54,60]}
data = pd.DataFrame(student)
data

      Names  Age  Height  Scores
0    Evelyn   17     5.5      80
1   Jessica   16     6.0      85
2     Somto   17     5.4      70
3     Edith   18     5.9      60
4      Liza   16     5.6      66
5   Madonna   18     5.5      76
6      Waje   17     6.1      87
7      Tola   20     6.0      95
8     Aisha   19     5.7      50
9    Latifa   17     5.5      49
10  Chinedu   19     5.7      74
11     Liam   16     5.9      87
12     Wale   18     5.8      75
13   Gbenga   17     6.1      68
14   Abiola   20     5.9      66
15     Kola   19     5.5      78
16    Kunle   16     6.4      87
17   George   18     5.4      98
18   Thomas   17     5.8      54
19   Wesley   19     5.7      60

### Project 2

In [19]:
yoe = int(input("Kindly enter your years of experience: "))
age = int(input("Kindly enter your age: "))

if (yoe > 25) and (age >= 55):
    print("Your Annual Tax Revenue is N5,600,000.00")
elif (yoe > 20) and (age >= 45):
    print("Your Annual Tax Revenue is N4,480,000.00")
elif (yoe > 10) and (age >= 35):
    print("Your Annual Tax Revenue is N1,500,000.00")
else:
    print("Your Annual Tax Revenue is N550,000.00")

Kindly enter your years of experience:  25
Kindly enter your age:  40

Your Annual Tax Revenue is N1,500,000.00